/*Button Label*/
.screen .login-button {
    left: 0 !important;
    position: absolute !important;
    top: 200px !important;
    width: 437px !important;
    background-color: #f9af15 !important;

}

.screen .login-buttons-instance {
    color: #000000 !important;
    left: 150px !important;
    top: 1px;
}