.buttons-label {
    height: 52px;
    width: 98px;
}

.buttons-label .overlap-group {
    background-color: var(--x-005-2ffprimary);
    border-radius: 8px;
    height: 54px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 100px;
}

.buttons-label .lable {
    color: var(--ffffffprimary);
    font-family: var(--14px-bold-font-family);
    font-size: var(--14px-bold-font-size);
    font-style: var(--14px-bold-font-style);
    font-weight: var(--14px-bold-font-weight);
    left: 32px;
    letter-spacing: var(--14px-bold-letter-spacing);
    line-height: var(--14px-bold-line-height);
    position: absolute;
    text-align: center;
    top: 17px;
    white-space: nowrap;
}
